@model ListBrandWithListDetail

@{
    ViewData["Title"] = "Show";
}

<h1>Show</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@for (int i = 0; i < Model.BrandOfDetails.Count(); i++)
{
<div class="col-2 text-info">
    <h3>@Model.BrandOfDetails[i].Name</h3> <a asp-action="Edit" asp-route-id="@Model.BrandOfDetails[i].Id">Edit</a> |
    <a asp-action="Remove" asp-route-id="@Model.BrandOfDetails[i].Id">Delete</a>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Detail[i][i].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Detail[i][i].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Detail[i][i].Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Detail[i][i].ModelCar)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Detail[i])
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelCar.Name)
                    </td>
                    <td>
                        <a asp-controller="Detail" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Detail" asp-action="DetailsOfDetail" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="Detail" asp-action="Remove" asp-route-id="@item.Id">Delete</a> |
                        <a asp-controller="Detail" asp-action="DetailsOfDetail" asp-route-id="@item.Id" class="btn btn-danger">In cart </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
